
<!DOCTYPE html>
<html lang="bg">
<head>
<meta http-equiv="Content-Type"
	content="text/html; charset=windows-1251">
<title>ITT MOBILE</title>
</head>
<body>
	<table>
		<tr>
			<td class="backcolor" style="text-align: center">
				<table class="tablereset margincent">
					<tr>
						<td><a href="">Автомобили</a></td>
						<td><a href="">Джипове</a></td>
						<td><a href="">Бусове</a></td>
						<td><a href="">Камиони</a></td>
						<td><a href="">Мотоциклети</a></td>
						<td><a href="">Селскостопански</a></td>
						<td><a href="">Индустриални</a></td>
						<td><a href="">Кари</a></td>
						<td><a href="">Каравани</a></td>
						<td><a href="">Яхти и Лодки</a></td>
						<td><a href="">Ремаркета</a></td>
						<td><a href="">Велосипеди</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<div id="mainholder">
		<table width=980 cellpadding=20 cellspacing=0 border=0
			style="border: #09F 1px solid; border-top: #09F 3px solid;">
			<tr>
				<td>

					<table width="940" cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto;">
						<tbody>
						<tr>
						<td><b>ПУБЛИКУВАНЕ НА ОБЯВА</b></td>
						</tr>
							<tr>
							
								<td width="220"><b>Основна категория</b></td>
							</tr>
							<tr>
								<td width="220"><img width=1 height=5 border=0
									src="http://www.mobile.bg/images/picturess/no.gif"></td>
								<td width="640"><img width=1 height=5 border=0
									src="http://www.mobile.bg/images/picturess/no.gif"></td>
							</tr>
							<tr>
								<td width="220"><select class="sw300" style="width: 220px;"
									onchange="javascript:window.location.href='http://www.mobile.bg/pcgi/mobile.cgi?topmenu='+this.value+'&amp;act=1&amp;rub=1';">
										<option selected value="1">Автомобили
										<option value="2">Джипове
										<option value="3">Бусове
										<option value="4">Камиони
										<option value="5">Мотоциклети
										<option value="6">Селскостопански
										<option value="7">Индустриални
										<option value="8">Кари
										<option value="9">Каравани
										<option value="10">Яхти и Лодки
										<option value="11">Ремаркета
										<option value="12">Велосипеди
								</select></td>
							</tr>
							<tr>
								<td style="height: 20px;" colspan="3">&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<form name="pub" method="post"
						action="http://www.mobile.bg/pcgi/mobile.cgi"
						style="margin: 0px; padding: 0px;">
						<input type="hidden" name="topmenu" value="1"> <input
							type="hidden" name="act" value="1"> <input type="hidden"
							name="subact" value="4"> <input type="hidden" name="rub"
							value="1"> <input type="hidden" name="actions" value="1">
						<input type="hidden" name="pubact" value="1"> <input
							type="hidden" name="f0" value="109.107.75.125"> <input
							type="hidden" name="f1" value=""> <input type="hidden"
							name="f2" value=""> <input type="hidden" name="f3"
							value=""> <input type="hidden" name="f4" value="">
						<input type="hidden" name="f26" value=""> <input
							type="hidden" name="f27" value="">
						<table width=940 cellspacing=0 cellpadding=0 border=0
							style="margin: 0 auto;">
							<tr>
								<td width=145 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Марка</td>
								<td width=10 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Модел</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=145 style="padding-top: 10px" class="pubTitles">Модификация</td>
								<td width=10 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Тип двигател</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Състояние</td>
							</tr>
							<tr>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f5"
									onchange="javascript:changemm(document.pub.topmenu,document.pub.f5,document.pub.f6,'1','1')">
										<option selected value="">
											<optgroup label="A">
												<option value="AC">AC
												<option value="Acura">Acura
												<option value="Aixam">Aixam
												<option value="Alfa romeo">Alfa romeo
												<option value="Aston martin">Aston martin
												<option value="Audi">Audi
												<option value="Austin">Austin
													<optgroup label="B">
														<option value="Bentley">Bentley
														<option value="Berliner">Berliner
														<option value="Bmw">Bmw
														<option value="Borgward">Borgward
														<option value="Bugatti">Bugatti
														<option value="Buick">Buick
								</select></td>
								<td width=10 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f6">
										<option value="">
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><input type="text"
									name="f7" value="" class="sw145" maxlength="16"></td>
								<td width=10 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f8">
										<option value="">
										<option value="Бензинов">Бензинов
										<option value="Дизелов">Дизелов
										<option value="Електрически">Електрически
										<option value="Хибриден">Хибриден
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 5px"><input type="radio"
									name="f25" value="1" disabled>Нов&nbsp;&nbsp;&nbsp;<input
									type="radio" name="f25" value="0" checked>Употребяван&nbsp;&nbsp;&nbsp;<input
									type="radio" name="f25" value="2">За
									части&nbsp;&nbsp;&nbsp;</td>
							</tr>
							<tr>
								<td width=300 colspan=3 style="padding-top: 10px"
									class="pubTitles">Мощност</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 colspan=3 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Скоростна кутия</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Категория</td>
							</tr>
							<tr>
								<td width=300 colspan=3 style="padding-top: 5px"><input
									type="text" name="f9" value="" class="sw145" maxlength="4"
									onkeyup="javascript:checkfield(this,'Полето приема само цифри от 0 до 9',1)"
									onclick="javascript:checkfield(this,'Полето приема само цифри от 0 до 9',3)">
									в конски сили</td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 colspan=3 style="padding-top: 5px"><select
									class="sw300" name="f10">
										<option value="">
										<option value="Ръчна">Ръчна
										<option value="Автоматична">Автоматична
										<option value="Полуавтоматична">Полуавтоматична
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 5px"><select
									class="sw300" name="f11">
										<option value="">
										<option value="Ван">Ван
										<option value="Кабрио">Кабрио
										<option value="Катафалка">Катафалка
										<option value="Комби">Комби
										<option value="Купе">Купе
										<option value="Линейка">Линейка
										<option value="Миниван">Миниван
										<option value="Пикап">Пикап
										<option value="Седан">Седан
										<option value="Стреч лимузина">Стреч лимузина
										<option value="Хечбек">Хечбек
								</select></td>
							</tr>
						</table>


						<table width=940 cellspacing=0 cellpadding=0 border=0>
							<tr>
								<td>Цена&nbsp;</td>
								<td width=10 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Валута</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 colspan=3 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Дата на производство</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Пробег</td>
							</tr>
							<tr>
								<td width=145 style="padding-top: 5px"><input type="text"
									name="f12" value="" class="sw145" maxlength="7"
									onfocus="javascript:pricenegtype()"
									onkeyup="javascript:checkfield(this,'Полето приема само цифри от 0 до 9',1)"
									onclick="javascript:checkfield(this,'Полето приема само цифри от 0 до 9',3)">
								</td>
								<td width=10 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f13">
										<option value="лв.">лв.
										<option value="USD">USD
										<option value="EUR">EUR
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f14">
										<option value="">
										<option value="януари">Януари
										<option value="февруари">Февруари
										<option value="март">Март
										<option value="април">Април
										<option value="май">Май
										<option value="юни">Юни
										<option value="юли">Юли
										<option value="август">Август
										<option value="септември">Септември
										<option value="октомври">Октомври
										<option value="ноември">Ноември
										<option value="декември">Декември
								</select></td>
								<td width=10 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f15">
										<option value="">
										<option value="2016">2016
										<option value="2015">2015
										<option value="2014">2014
										<option value="2013">2013
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 5px"><input type="text"
									name="f16" value="" class="sw145" maxlength="7"
									onkeyup="javascript:checkfield(this,'Полето приема само цифри от 0 до 9',1)"
									onclick="javascript:checkfield(this,'Полето приема само цифри от 0 до 9',3)">
									в километри</td>
							</tr>
							<tr>
								<td valign="top" width=940 colspan=9><input type="checkbox"
									name="priceneg" value="99999999"
									onclick="javascript:pricenegcheck(this,document.pub.f12)">по
									договаряне</td>
							</tr>
							<tr>
								<td width=300 colspan=3 style="padding-top: 10px"
									class="pubTitles">Цвят</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=145 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Регион</td>
								<td width=10 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Населено място</td>
								<td width=20 style="padding-top: 10px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 10px"
									class="pubTitles pubTitlesBlue">Валидност на обявата</td>
							</tr>
							<tr>
								<td width=300 colspan=3 style="padding-top: 5px"><select
									class="sw300" name="f17">
										<option value="">
										<option value="Tъмно син">Tъмно син
										<option value="Банан">Банан
										<option value="Беата">Беата
										<option value="Бежов">Бежов
										<option value="Бордо">Бордо
										<option value="Бронз">Бронз
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f18"
									onchange="javascript:document.pub.submit();">
										<option value="">
										<option value="Благоевград">Благоевград
										<option value="Бургас">Бургас
										<option value="Варна">Варна
										<option value="Велико Търново">Велико Търново
										<option value="Видин">Видин
										<option value="Враца">Враца
										<option value="Габрово">Габрово
										<option value="Добрич">Добрич
										<option value="Дупница">Дупница
										<option value="Кърджали">Кърджали
										<option value="Кюстендил">Кюстендил
										<option value="Ловеч">Ловеч
										<option value="Монтана">Монтана
										<option value="Пазарджик">Пазарджик
										<option value="Перник">Перник
										<option value="Плевен">Плевен
										<option value="Пловдив">Пловдив
										<option value="Разград">Разград
										<option value="Русе">Русе
										<option value="Силистра">Силистра
										<option value="Сливен">Сливен
										<option value="Смолян">Смолян
										<option value="София">София
										<option value="Стара Загора">Стара Загора
										<option value="Търговище">Търговище
										<option value="Хасково">Хасково
										<option value="Шумен">Шумен
										<option value="Ямбол">Ямбол
										<option value="Извън страната">Извън страната
								</select></td>
								<td width=10 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=10
									height=1 border=0></td>
								<td width=145 style="padding-top: 5px"><select
									class="sw145" name="f19">
										<option value="">
								</select></td>
								<td width=20 style="padding-top: 5px"><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=300 style="padding-top: 5px"><select
									class="sw300" name="f20">
										<option value="35">35 дни
										<option value="49">49 дни
								</select></td>
							</tr>
						</table>


						<table width=940 cellspacing=0 cellpadding=0 border=0
							style="margin: 0 auto; margin-top: 10px;">
							<tr>
								<td valign=top><label class="extra_cat">Безопасност</label><br>
									<label><input type="checkbox"
										value="GPS система за проследяване" name="f29">GPS
										система за проследяване</label><br> <label
									OnMouseOver="javascript:ShowExtriDescription(this,'AYC, ASC, TRC, SH-AWD');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Автоматичен контрол на стабилността"
										name="f30">Автоматичен контрол на стабилността<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'AFL');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Адаптивни предни светлини" name="f31">Адаптивни
										предни светлини<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'ABS');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Антиблокираща система" name="f32">Антиблокираща
										система<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox"
										value="Въздушни възглавници - Задни" name="f33">Въздушни
										възглавници - Задни</label><br> <label><input
										type="checkbox" value="Въздушни възглавници - Предни"
										name="f34">Въздушни възглавници - Предни</label><br> <label><input
										type="checkbox" value="Въздушни възглавници - Странични"
										name="f35">Въздушни възглавници - Странични</label><br> <label
									OnMouseOver="javascript:ShowExtriDescription(this,'EBD');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Ел. разпределяне на спирачното усилие"
										name="f36">Ел. разпределяне на спирачното усилие<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'ESP, ESC, DSC, VDIM, VDS, VSA, VSC, DSTC, DTC, PSM');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Електронна програма за стабилизиране"
										name="f37">Електронна програма за стабилизиране<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'TPMS, SmarTire');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Контрол на налягането на гумите"
										name="f38">Контрол на налягането на гумите<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'PDC, APS, Park Assist, Park pilot и др.');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Парктроник" name="f39">Парктроник<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'DSA');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Система за динамична устойчивост"
										name="f40">Система за динамична устойчивост<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'ASR, TCS, EDL, TCL');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Система за защита от пробуксуване"
										name="f41">Система за защита от пробуксуване<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'dry brakes system – DBS');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Система за изсушаване на накладките"
										name="f42">Система за изсушаване на накладките<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'Distronic');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Система за контрол на дистанцията"
										name="f43">Система за контрол на дистанцията<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'Brake Assist, BAS');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Система за подпомагане на спирането"
										name="f44">Система за подпомагане на спирането<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
								</td>
								<td valign=top><label class="extra_cat">Комфорт</label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'ASS, ISG');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Auto Start Stop function" name="f45">Auto
										Start Stop function<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox"
										value="Bluetooth \ handsfree система" name="f46">Bluetooth
										\ handsfree система</label><br> <label><input
										type="checkbox" value="DVD, TV" name="f47">DVD, TV</label><br>
									<label><input type="checkbox"
										value="Steptronic, Tiptronic" name="f48">Steptronic,
										Tiptronic</label><br> <label><input type="checkbox"
										value="USB, audio\video, IN\AUX изводи" name="f49">USB,
										audio\video, IN\AUX изводи</label><br> <label
									OnMouseOver="javascript:ShowExtriDescription(this,' Airmatic');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Адаптивно въздушно окачване" name="f50">Адаптивно
										въздушно окачване<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox"
										value="Безключово палене " name="f51">Безключово
										палене </label><br> <label><input type="checkbox"
										value="Блокаж на диференциала" name="f52">Блокаж на
										диференциала</label><br> <label><input type="checkbox"
										value="Бордкомпютър" name="f53">Бордкомпютър</label><br>
									<label><input type="checkbox"
										value="Датчик за светлина" name="f54">Датчик за
										светлина</label><br> <label><input type="checkbox"
										value="Ел. Огледала" name="f55">Ел. Огледала</label><br>
									<label><input type="checkbox" value="Ел. Стъкла"
										name="f56">Ел. Стъкла</label><br> <label><input
										type="checkbox" value="Ел. регулиране на окачването"
										name="f57">Ел. регулиране на окачването</label><br> <label><input
										type="checkbox" value="Ел. регулиране на седалките" name="f58">Ел.
										регулиране на седалките</label><br> <label
									OnMouseOver="javascript:ShowExtriDescription(this,'EPS (Electric Power Steering)');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Ел. усилвател на волана" name="f59">Ел.
										усилвател на волана<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox" value="Климатик"
										name="f60" id='klimatik'
										onclick="javascript:HideShowKlima('klimatronik');">Климатик</label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'ACC, ECC, Climatecontrol, Climatronic');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="Климатроник" name="f61"
										id='klimatronik'
										onclick="javascript:HideShowKlima('klimatik');">Климатроник<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox"
										value="Мултифункционален волан" name="f62">Мултифункционален
										волан</label><br> <label><input type="checkbox"
										value="Навигация" name="f63">Навигация</label><br> <label><input
										type="checkbox" value="Отопление на волана" name="f64">Отопление
										на волана</label><br> <label><input type="checkbox"
										value="Печка" name="f65">Печка</label><br> <label><input
										type="checkbox" value="Подгряване на предното стъкло"
										name="f66">Подгряване на предното стъкло</label><br> <label><input
										type="checkbox" value="Подгряване на седалките" name="f67">Подгряване
										на седалките</label><br> <label><input type="checkbox"
										value="Регулиране на волана" name="f68">Регулиране на
										волана</label><br> <label><input type="checkbox"
										value="Сензор за дъжд" name="f69">Сензор за дъжд</label><br>
									<label><input type="checkbox"
										value="Серво усилвател на волана" name="f70">Серво
										усилвател на волана</label><br> <label><input
										type="checkbox" value="Система за измиване на фаровете"
										name="f71">Система за измиване на фаровете</label><br> <label
									OnMouseOver="javascript:ShowExtriDescription(this,'ACC, Cruise Control, Tempomat');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox"
										value="Система за контрол на скоростта (автопилот)" name="f72">Система
										за контрол на скоростта (автопилот)<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox" value="Стерео уредба"
										name="f73">Стерео уредба</label><br> <label><input
										type="checkbox" value="Филтър за твърди частици" name="f74">Филтър
										за твърди частици</label><br> <label><input
										type="checkbox" value="Хладилна жабка" name="f75">Хладилна
										жабка</label><br></td>
								<td valign=top><label class="extra_cat">Други</label><br>
									<label><input type="checkbox" value="4x4" name="f76">4x4</label><br>
									<label><input type="checkbox" value="7 места"
										name="f77">7 места</label><br> <label><input
										type="checkbox" value="Buy back" name="f78">Buy back</label><br>
									<label><input type="checkbox" value="Бартер" name="f79">Бартер</label><br>
									<label><input type="checkbox" value="Газова уредба"
										name="f80">Газова уредба</label><br> <label><input
										type="checkbox" value="Капариран\Продаден" name="f81">Капариран\Продаден</label><br>
									<label><input type="checkbox" value="Катастрофирал"
										name="f82">Катастрофирал</label><br> <label><input
										type="checkbox" value="Лизинг" name="f83">Лизинг</label><br>
									<label><input type="checkbox" value="Метанова уредба"
										name="f84">Метанова уредба</label><br> <label><input
										type="checkbox" value="На части" name="f85">На части</label><br>
									<label><input type="checkbox" value="Напълно обслужен"
										name="f86">Напълно обслужен</label><br> <label><input
										type="checkbox" value="Нов внос" name="f87">Нов внос</label><br>
									<label><input type="checkbox"
										value="С право на дан.к-т" name="f88">С право на
										дан.к-т</label><br> <label><input type="checkbox"
										value="С регистрация" name="f89">С регистрация</label><br>
									<label><input type="checkbox" value="Сервизна книжка"
										name="f90">Сервизна книжка</label><br> <label><input
										type="checkbox" value="Тунинг" name="f91">Тунинг</label><br>
									<label class="extra_cat">Екстериор</label><br> <label><input
										type="checkbox" value="2(3) Врати" name="f92">2(3)
										Врати</label><br> <label><input type="checkbox"
										value="4(5) Врати" name="f93">4(5) Врати</label><br> <label><input
										type="checkbox" value="LED фарове" name="f94">LED
										фарове</label><br> <label><input type="checkbox"
										value="Ксенонови фарове" name="f95">Ксенонови фарове</label><br>
									<label><input type="checkbox" value="Лети джанти"
										name="f96">Лети джанти</label><br> <label><input
										type="checkbox" value="Металик" name="f97">Металик</label><br>
									<label><input type="checkbox"
										value="Отопляеми чистачки" name="f98">Отопляеми
										чистачки</label><br> <label><input type="checkbox"
										value="Панорамен люк" name="f99">Панорамен люк</label><br>
									<label><input type="checkbox" value="Спойлери"
										name="f100">Спойлери</label><br> <label><input
										type="checkbox" value="Теглич" name="f101">Теглич</label><br>
									<label><input type="checkbox" value="Халогенни фарове"
										name="f102">Халогенни фарове</label><br> <label><input
										type="checkbox" value="Шибедах" name="f103">Шибедах</label><br>
								</td>
								<td valign=top><label class="extra_cat">Защита</label><br>
									<label><input type="checkbox" value="Аларма"
										name="f104">Аларма</label><br> <label><input
										type="checkbox" value="Брониран" name="f105">Брониран</label><br>
									<label><input type="checkbox" value="Имобилайзер"
										name="f106">Имобилайзер</label><br> <label><input
										type="checkbox" value="Каско" name="f107">Каско</label><br>
									<label><input type="checkbox"
										value="Централно заключване" name="f108">Централно
										заключване</label><br> <label class="extra_cat">Интериор</label><br>
									<label><input type="checkbox" value="Велурен салон"
										name="f109">Велурен салон</label><br> <label><input
										type="checkbox" value="Десен волан" name="f110">Десен
										волан</label><br> <label><input type="checkbox"
										value="Кожен салон" name="f111">Кожен салон</label><br> <label
									class="extra_cat">Специализирани</label><br> <label><input
										type="checkbox" value="TAXI" name="f112">TAXI</label><br>
									<label
									OnMouseOver="javascript:ShowExtriDescription(this,'Инвалиден');"
									OnMouseOut="javascript:HideExtriDescription();"><input
										type="checkbox" value="За хора с увреждания" name="f113">За
										хора с увреждания<img
										src="http://www.mobile.bg/images/picturess/info.jpg"
										width="16" height="16" style="margin: 2px 0 -2px 0;"></label><br>
									<label><input type="checkbox" value="Катафалка"
										name="f114">Катафалка</label><br> <label><input
										type="checkbox" value="Линейка" name="f115">Линейка</label><br>
									<label><input type="checkbox" value="Учебен"
										name="f116">Учебен</label><br> <label><input
										type="checkbox" value="Хладилен" name="f117">Хладилен</label><br>
								</td>

							</tr>
						</table>
						<div id="ExtriDesc" class="ExtriDesc"
							style="display: none; margin: 0 auto;">
							<div style="position: relative; bottom: 0px;">
								<span id="descarrow" class="arrow"><i></i></span>
							</div>
							<span id="descr_txt"></span>
						</div>


						<table width=940 cellspacing=0 cellpadding=0 border=0
							style="margin-top: 20px;">
							<tr>
								<td width=300 valign="top">

									<table width=300 cellspacing=0 cellpadding=0 border=0>
										<tr>
											<td class="pubTitles">Допълнителна информация</td>
										</tr>
										<tr>
											<td style="padding-top: 10px"><textarea cols=36
													name="f21" rows=10 wrap=virtual maxlength="1800"
													class="sw300"></textarea><br></td>
										</tr>
									</table>
								</td>
								<td width=20><img
									src="http://www.mobile.bg/images/picturess/no.gif" width=20
									height=1 border=0></td>
								<td width=620 valign="top">

									<table class="f-left" width=300 cellspacing=0 cellpadding=0
										border=0>
										<tr>
											<td valign=top height=25 colspan=2 class="pubTitles">
												Вашите данни за обратна връзка:</td>
										</tr>
										<tr>
											<td valign=top width=130 height=28
												class="pubTitles pubTitlesBlue">Мобилен телефон:</td>
											<td valign=top width=170 height=28><input type="text"
												name="f22" value="" class="sw170" maxlength="14"
												onkeyup="javascript:CheckPhone(this)"></td>
										</tr>
										<tr>
											<td valign=top width=130 height=28
												class="pubTitles pubTitlesBlue">E-mail:</td>
											<td valign=top width=170 height=28><input type="text"
												name="f23" value="" class="sw170" maxlength="40"></td>
										</tr>
										<tr>
											<td valign=top width=130 height=28 class="pubTitles">http://</td>
											<td valign=top width=170 height=28><input type="text"
												name="f24" value="" class="sw170" maxlength="40"></td>
										</tr>

									</table>
									<div id="phonePopup" class="phonePopup"
										style="display: none; margin: 0 auto;">
										<span id="phone_txt"></span>
										<div style="position: relative; bottom: 0px;">
											<span id="phone_arrow" class="phone_arrow"><i></i></span>
										</div>
									</div>
									<div class="f-right" style="width: 300px"></div>
									<div style="clear: both"></div>
								</td>
							</tr>
						</table>
						<input type="button" name="subm"
							style="width: 230px; height: 40px; font-weight: bold;"
							value="ПУБЛИКУВАЙ ОБЯВАТА" onclick="">
</body>
</html>
